/* Элемент <body> содержит все содержимое HTML-документа, например текст, г
иперссылки, изображения, таблицы, списки и т. д. */
body {
    padding: 30px;
      /* Устанавливает значение полей вокруг содержимого элемента.
     Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое
    */
    background: rgb(238, 245, 149);
    /* Когда браузер встречает первый шрифт в списке, он проверяет его наличие на компьютере 
    пользователя. Если такого шрифта нет, берется следующее имя из списка и также
     анализируется на присутствие. Поэтому несколько шрифтов увеличивает 
     вероятность, что хотя бы один из них будет обнаружен на клиентском компьютере. 
    Заканчивают список обычно ключевым словом, которое описывает тип шрифта  */
    font-family: Geneva, Arial, Helvetica, sans-serif;
    /* sans-serif рубленные шрифты (шрифты без засечек или гротески), типичный представитель — Arial; */
}

.btn-class {
    padding: 6px;
    background: lavenderblush;
    color:black;
    cursor: pointer;
    display: inline-block;
}